<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Appointment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="card" style="width: 18rem;">
    <div style="width: 50%; margin: 0 auto">

        <form th:action="@{/appointments/{hospitalId}/save(hospitalId=${hospitalId})}" th:object="${newAppointment}" method="POST">
            <input type="hidden" th:field="*{id}">
            <div>
                <label for="firstName">date</label>
                <input type="date" th:field="*{date}" id="firstName">
            </div>

            <div>
                <select th:field="*{departmentId}" multiple required>
                    <option value="">--Select a department--</option>
                    <option th:each="department : ${departments}" th:value="${department.id}"
                            th:text="${department.name}"></option>
                </select>

                <select th:field="*{patientId}" multiple required>
                    <option value="">--Select a patient--</option>
                    <option th:each="patient : ${patients}" th:value="${patient.id}"
                            th:text="${patient.firstName}"></option>
                </select>
                <select th:field="*{doctorId}" multiple required>
                    <option value="">--Select a doctor--</option>
                    <option th:each="doctor : ${doctors}" th:value="${doctor.id}"
                            th:text="${doctor.firstName}"></option>
                </select>
                <div>
                    <input type="submit" value="Save"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>