<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Appointment</title>
</head>
<body>
<form th:action="@{/appointments/{hospitalId}/{doctorId}/update(hospitalId=${hospitalId},doctorId=${appointment.id})}"
      th:object="${appointment}"
      th:method="Post">

    <div>
        <label>
            <input th:field="*{date}" placeholder="Date">
        </label>

        <input type="submit" value="update">
    </div>
</form>

</body>
</html>